/* --------------------------------------------------------------------------------------------- */
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(7, 7, 7);
    --secondary-color: #202020;
    --primary-text-color: rgb(221, 231, 228);
    --secondary-text-color: rgb(120, 136, 118);
    --extra-color-dark: rgb(92, 128, 64);
    --extra-color-light: rgb(131, 190, 85);    
}

html{
    font-size: 16px;
}

body{
    background-color: var(--primary-color);    
    background-color: var(--primary-color);       
}

header{

}

main{
    width: auto;
    min-height: 95vh;
    padding: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
}

footer{
    color: var(--extra-color-light);    
    background-color: var(--secondary-color);
    width: auto;
    min-height: 5vh;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: var(--extra-color-dark);    
    cursor: pointer;
    transition: transform 0.3s ease-in-out;   
}
footer a:hover{
    color: var(--extra-color-light);   
    transform: scale(1.02);
}

/* -------------------------------------- Navbar start -------------------------------------- */
nav{
    opacity: 80%;
    color: var(--extra-color-dark);
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--extra-color-dark);
    border-bottom-right-radius: 30%;
    
    width: 100%;
    min-height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    gap: 1rem;
    z-index: 2;    
    overflow-x: auto;
    /* -webkit-overflow-scrolling: touch; */

}
nav:hover{
    opacity: 100%;
    border-bottom: 2px solid var(--extra-color-light);
}
.logo img{
    width: 4rem;    
    height: auto;
    margin-left: 1rem;         
}
.pages{        
    padding-top: 1rem;       
    display: flex;    
    gap: 1rem;
}
.pages a{
    color: var(--extra-color-dark);    
    text-decoration: none;
}
.pages h3{
    padding-top: 0.5rem;
}
.sidebar-icon{
    display: none;
}

.pages-item{    
    text-align: center;
    transition: transform 0.3s ease-in-out;    
}
.pages-item:hover{
    color: var(--extra-color-light);
    transform: scale(1.1);
}
.optional-icon{
    margin-right: 3rem;    
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: transform 0.3s ease-in-out;   
}
.optional-icon :nth-child(1):hover{
    color: var(--extra-color-light);
    cursor: pointer;
    transform: scale(1.2);
}
.optional-icon :nth-child(2):hover{
    color: var(--extra-color-light);
    cursor: pointer;
    transform: scale(1.2);
}
.optional-icon :nth-child(3):hover{
    color: var(--extra-color-light);
    cursor: pointer;
    transform: scale(1.2);
}
.optional-icon img{    
    width: 3rem;
    height: auto;
}
aside{
    display: none;
}
/* -------------------------------------- Navbar end -------------------------------------- */

.card{    
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--extra-color-dark);
    border-radius: 1rem;        
    padding: 1rem;
    width: 49%;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    border: 3px solid var(--extra-color-light);
    transform: scale(1.02);
}
.card a{
    color: var(--primary-text-color);    
}
.card i{
    color: var(--primary-text-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.card i:hover{
    color: var(--extra-color-light);
    transform: scale(1.05);
}
.card-header{    
    display: flex;
    justify-content: space-between;
}
.card-header img{    
    border-radius: 1rem;    
    max-width: 10rem;
    max-height: 5rem;
}
.goto-project{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hidden-content{    
    color: var(--secondary-text-color);
    padding: 1rem;
    display: none;    
}

.educational-content{
    padding: 1rem;
    display: flex;
    justify-content: space-around;    
}

.mail-form{    
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    border: 2px solid var(--extra-color-dark);
    border-radius: 1rem; 
    transition: transform 0.3s ease-in-out;   
}
.mail-form:hover{
    border: 3px solid var(--extra-color-light);
    transform: scale(1.02);
}
.mail-form form{
    display: flex;
    flex-direction: column;    
    gap: 1rem;
}
.mail-form input{
    color: var(--primary-text-color);
    background-color: var(--extra-color-dark);
    border: 2px solid var(--extra-color-light);
    border-radius: 0.3rem;
    padding: 0.3rem;
}
.mail-form textarea{
    color: var(--primary-text-color);
    background-color: var(--extra-color-dark);
    border: 2px solid var(--extra-color-light);
    border-radius: 0.3rem;
    padding: 0.3rem;
    height: 5rem;
}
.mail-form button{
    color: var(--primary-text-color);
    background-color: var(--extra-color-dark);
    border: 2px solid var(--extra-color-light);
    border-radius: 0.5rem;
    width: 50%;
    font-weight: 700;
    padding: 0.5rem;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}
.mail-form button:hover{
    background-color: var(--extra-color-light);
    transform: scale(1.02);
}

/* --------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
    html{
        font-size: 10px;
    }
    main{
        padding-top: 10rem;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        font-size: 12px;
    }
    h6{
        font-size: 10px;
    }
    p{
        font-size: 12px;
    }
    li{
        font-size: 12px;
    }
    nav{
        opacity: 80%;
        border-bottom: 2px solid var(--extra-color-light);        
    }
    nav .pages{
        display: none;        
    }
    .optional-icon{
        color: var(--extra-color-light);
    }

    .sidebar-icon{
        color: var(--extra-color-light);
        background-color: var(--extra-color-dark);
        border: 2px solid var(--extra-color-light);
        border-radius: 0.5rem;
        margin-left: 1rem;
        padding: 1rem;
        cursor: pointer;
        display: block;
        transition: transform 0.3s ease-in-out;   
    }
    .sidebar-icon:hover{
        border: 2px solid var(--extra-color-light);
        color: var(--extra-color-light);    
        transform: scale(1.1);
    }
    .container{
        display: flex;
    }    
    
    aside .pages{        
        padding-top: 2rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }
    aside .pages a{
        color: var(--extra-color-light);
    }

    .card{            
        width: 100%;   
        border: 2px solid var(--extra-color-light); 
    }
    
    .mail-form{            
        border: 2px solid var(--extra-color-light);         
    }
    .mail-form form div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
  
/* --------------------------------------------------------------------------------------------- */
@media (max-width: 1024px) and (orientation: landscape) {
    html{
        font-size: 12px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        font-size: 12px;
    }
    h6{
        font-size: 10px;
    }
    p{
        font-size: 12px;
    }
    li{
        font-size: 12px;
    }
    
    nav{
        opacity: 80%;        
        color: var(--extra-color-light);
        border-bottom: 2px solid var(--extra-color-light);
    }
    .sidebar-icon{
        color: var(--extra-color-light);
        border: 2px solid var(--extra-color-light);
    }
    .pages a{
        color: var(--extra-color-light);
    }

    .card{            
        width: 100%;         
        border: 2px solid var(--extra-color-light);   
    }    

    .mail-form{            
        border: 2px solid var(--extra-color-light);         
    }
}
  