/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(7, 7, 7);
    --secondary-color: #202020;
    --primary-text-color: rgb(221, 231, 228);
    --secondary-text-color: rgb(120, 136, 118);
    --extra-color-dark: rgb(92, 128, 64);
    --extra-color-light: rgb(131, 190, 85);
}

body{
    background-color: var(--primary-color);       
}

/* --------------------- Navigation Bar start --------------------- */
nav{    
    opacity: 80%;
    width: 100%;
    min-height: 10vh;    
    color: var(--extra-color-dark);
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--extra-color-dark);
    border-bottom-right-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 1.5rem; 
    position: fixed;
    z-index: 2;
}
nav:hover{
    opacity: 100%;
    border-bottom: 2px solid var(--extra-color-light);
}
.pages{        
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 3rem;
}
.pages-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: transform 0.3s ease-in-out;
}
.pages-item:hover{
    color: var(--extra-color-light);
    transform: scale(1.05);
}
.pages a{
    text-decoration: none;
    color: var(--extra-color-dark);
}
/* --------------------- Navigation Bar end --------------------- */

main{
    padding-top: 6rem;
    width: auto;
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
    gap: 1rem;
}

footer{    
    margin-top: 1rem;
    opacity: 80%;
    width: auto;
    min-height: 5vh;
    background-color: var(--secondary-color);
}

/* --------------------- Index page start --------------------- */
.summary-card{
    padding: 1rem;
    border: 2px solid var(--secondary-text-color);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--extra-color-dark);
}
.summary-image img{
    width: 100%;
    border: 2px solid var(--extra-color-dark);
    border-radius: 50%;
}
.summary-info{

}
/* --------------------- Index page end --------------------- */

/* --------------------- Project page end --------------------- */
.project-card{
    width: 70%;
    padding: 1.5rem;    
    color: var(--secondary-text-color);
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;        
    display: flex;    
    flex-direction: column;
    justify-content: space-between;    
    transition: transform 0.3s ease-in-out;
}
.project-card:hover{
    border: 2px solid var(--extra-color-dark);
    transform: scale(1.02);
}
.project-card h1{
    color: var(--secondary-text-color);
    display: flex;
    justify-content: space-between;        
}
.project-card a{    
    color: var(--secondary-text-color);
}
.project-card a:hover{
    color: var(--extra-color-light);
}
.project-card i{
    color: var(--secondary-text-color);
    transition: transform 0.3s ease-in-out;
}
.project-card i:hover{
    color: var(--primary-text-color);
    transform: scale(1.2);
}
.project-card .hidden-content{
    display: none;
    color: var(--secondary-text-color);
}

/* --------------------- Project page end --------------------- */