
#career{    
    position: relative;
}

#career-background-img {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    object-fit: cover;
    object-position: bottom;
    z-index: -2;
}

#career-background-overlay{
    opacity: 0.3;
    width: 100%;
    height: 15rem;
    background-color: var(--dark-text-color);
    position: absolute; 
    bottom: -15rem;
    z-index: 2;
}