
#career{    
    position: relative;
}

#career-background-img {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    object-fit: cover;
    object-position: bottom;
    z-index: -2;
}

#career-background-overlay{
    opacity: 0.5;
    width: 100%;
    height: 20rem;        
    background: linear-gradient(45deg,sienna, chocolate, chocolate, coral);    
    position: absolute; 
    bottom: -20rem;
    z-index: 2;
}


@media(max-width: 1023px){
    #career-background-overlay{
        height: 10rem;
        bottom: -10rem;
    }
}