
#education{    
    position: relative;
}

#education-background-img {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    object-fit: cover;
    object-position: bottom;
    z-index: -2;
}

#education-background-overlay{
    opacity: 0.5;
    width: 100%;
    height: 20rem;    
    background: linear-gradient(45deg, purple, blueviolet, cornflowerblue, yellowgreen, darkgoldenrod, coral, crimson );
    color: yellowgreen;
    position: absolute; 
    bottom: -20rem;
    z-index: 2;
}


@media(max-width: 1023px){
    #education-background-overlay{
        height: 10rem;
        bottom: -10rem;
    }
}