nav{
    z-index: 1;
    opacity: 0.9;
    color: var(--navbar-color);
    background-color: var(--navbar-background-color);
    position: fixed;
    width: 100%;
    height: 7vh;
    font-size: x-large;    
}
nav a{
    text-decoration: none;
    color: var(--navbar-color);    
}
nav ul{
    list-style: none;
    padding: 0 2rem;
    width: 100%;  
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.lang-menu {
    display: flex;    
    align-items: center;
    gap: 0.5rem
}
.lang-menu:hover #lang-display-icon{
    transform: scale(1.2);
}
.lang-menu:hover #lang-hide-icon{
    transform: scale(1.2);
}

.lang-dropdown{    
    display: none;
    justify-content: flex-end;
    align-items: center;
}
.lang-buttons{
    z-index: 2;
    opacity: 0.90;
    width: 10rem;
    padding: 1rem;
    margin-right: 1rem;    
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem black;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-menu{
    display: none;
}






/* --------------------------------------------------- */
.section-link {    
    height: 0.15rem;
}
.section-link:hover + .link-border{ 
    animation: border-animation 0.45s ease-in-out both;
}
@keyframes border-animation {
    from {
        width: 2%;
        height: 2%;        
        border: 0.12rem solid var(--navbar-color);        
    }
    to {
        width: 100%;
        height: 2%;        
        background-color: var(--navbar-color);
        border: 0.12rem solid var(--navbar-color);        
    }
}
.section-link-active{
    color: var(--light-text-color);
    border-bottom: 0.15rem solid var(--navbar-color);
}

/* --------------------------- icon & button --------------------------- */
.menu-icon{
    width: 2.5rem;
    transition: 0.5s ease-in-out;
}
.menu-icon:hover{
    transform: scale(1.1);
}
.close-icon{
    display: none;
    width: 2.5rem;
    transition: 0.5s ease-in-out;
}
.close-icon:hover{
    transform: scale(1.1);
}
.display-icon{
    width: 1.5rem;
    transition: 0.5s ease-in-out;
}
.display-icon:hover{
    transform: scale(1.2);
}
.hide-icon{
    display: none;
    width: 1.5rem;
    transition: 0.5s ease-in-out;
}
.hide-icon:hover{
    transform: scale(1.2);
}
.en-button{    
    width: 2.5rem;
    height: 2.5rem;
    font-size: large;
    box-shadow: 0.1rem 0.2rem 0.4rem 0.2rem black;
    border-radius: 0.2rem;
    transition: 0.5s ease-in-out;
}
.en-button:hover{
    background-color: var(--blue-color);
    color: var(--navbar-color);
    transform: scale(1.1);
}
.tr-button{    
    width: 2.5rem;
    height: 2.5rem;
    font-size: large;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem black;
    border-radius: 0.2rem;
    transition: 0.5s ease-in-out;    
}
.tr-button:hover{    
    background-color: var(--blue-color);
    color: var(--navbar-color);
    transform: scale(1.1);
}

.slide-up{
    opacity: 0.5;
    background-color: var(--blue-color);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem black;
    border-radius: 50%;
    transform: scale(0.3);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: 0.5s ease-in-out;
}
.slide-up:hover{
    opacity: 1;
    transform: scale(0.4);
}

/* --------------------------------------------------- */
@media(max-width: 1023px){

}