
#skill{    
    position: relative;
}

#skill-background-img {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    object-fit: cover;
    object-position: bottom;
    z-index: -2;
}

#skill-background-overlay{
    opacity: 0.3;
    width: 100%;
    height: 20rem;    
    background: linear-gradient(45deg, purple, aqua, blue);
    position: absolute; 
    bottom: -20rem;
    z-index: 2;
}


@media(max-width: 1023px){
    #skill-background-overlay{
        height: 10rem;
        bottom: -10rem;
    }
}