.hidden-menu{
    opacity: 95%;
    color: var(--navbar-color);
    background-color: var(--navbar-background-color);
    width: 100%;
    font-size: x-large;
    min-height: 80vh;
    margin-top: 4rem;   
    padding-right: 4rem;
    position: fixed;    
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 2;

}
.hidden-menu a{
    color: var(--navbar-color);
    text-decoration: none;    
}

.menu-item-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu-item-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hidden-menu-lang{
    cursor: pointer;
}
.hidden-menu-lang img{
    height: 1rem;    
}
.hidden-menu-lang ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hidden-language-options{
    display: none;         
    gap: 1rem;
}
.hidden-language-options .language-option{
    cursor: pointer;
    background-color: var(--navbar-color);    
    padding: 0.3rem;
    font-size: large;
    font-weight: 900;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
}
.hidden-language-options .language-option:hover{
    color: var(--light-text-color);
    background-color: var(--blue-color);    
    transform: scale(1.1);
}

.hidden-nav-border{
    border-bottom: 0.2rem solid var(--navbar-color);
}

