#home {    
    color: var(--light-text-color);
    background-image: url('../img/home-section.jpg');
    background-size: cover;
    background-position: center;    
    box-shadow: 0 0 8px 1px var(--navbar-color);
    width: auto;
    height: 100vh;
    font-size: xx-large;
    z-index: -1;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
#typed-content {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    color: var(--light-text-color);
}

#typed-content::after {
    content: ''; 
    display: inline-block;
    width: 6px; 
    height: 1.1em;
    background-color: var(--light-text-color);
    margin-left: 2px; 
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 0; 
    }
    50% {
        opacity: 1; 
    }
}

@media (max-width: 767px) {
    #home{        
        font-size: x-large;
        background-color: var(--navbar-background-color);        
        background-size: 150% auto;        
        background-position: bottom;        
        background-repeat: no-repeat;
    }    
}

/* Tablet (orta büyüklükte ekranlar) için stil ayarları */
@media (min-width: 768px) and (max-width: 1023px) {
    #home{        
        font-size: x-large;
        background-color: var(--navbar-background-color);        
        background-size: cover;
        background-position: bottom;        
        background-repeat: no-repeat;
    }
    
}