nav{
    opacity: 0.9;
    color: var(--navbar-color);
    background-color: var(--navbar-background-color);
    position: fixed;
    width: 100%;
    height: 4rem;    
    display: flex;    
    justify-content: space-around;
    align-items: center;
}
.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.sections a{
    color: var(--text-color);
    text-decoration: none;
}