@import url("../../style.css");

/* ------------------- nav -------------------  */
nav{
    opacity: 0.9;
    color: var(--navbar-color);
    background-color: var(--navbar-background-color);
    width: 100%;
    height: 8vh;
    padding: 0 2rem;
    position: fixed;
}
nav a{
    color: var(--navbar-color);
    text-decoration: none;
}

/* ------------------- nav-container -------------------  */
.nav-item-list{
    list-style: none;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* ------------------- 1. nav-item -------------------  */


/* ------------------- 2. nav-item -------------------  */
.nav-link-list ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.nav-item:hover .nav-item-border-hover{
    border-bottom: 0.15rem solid var(--navbar-color);
    border-radius: 1rem;
    animation: nav-border-animation 0.25s ease-in-out both;
}
@keyframes nav-border-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.nav-item-border-hover{
    transition: border-bottom 0.5s ease-in-out;
}

/* ------------------- 3. nav-item -------------------  */
#nav-lang{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
#nav-lang:hover .nav-icon{
    transform: scale(1.1);
}
.nav-icon{
    cursor: pointer;
    width: 1.5rem;
    transition: 0.3s ease-in-out;
}
.nav-icon:hover{
    transform: scale(1.1);
}
#hide-nav-lang-content{
    display: none;
}
/* ------------------- 4. nav-item -------------------  */
#nav-sidebar{
    display: none;
}

/* ----------------------------------------- @media 767px -----------------------------------------  */
@media (max-width: 767px) {

    /* ------------------- 1. nav-item -------------------  */
    #nav-logo{
        font-size: larger;
    }
    /* ------------------- 2. nav-item -------------------  */
    .nav-link-list{
        display: none;
    }
    /* ------------------- 3. nav-item -------------------  */
    #nav-lang{
        display: none;
    }
    /* ------------------- 4. nav-item -------------------  */
    #nav-sidebar{
    display: flex;
    }
    #nav-menu-icon{
        width: 2.5rem;
    }
    #nav-close-icon{
        display: none;
        width: 2.5rem;
    }
}

/* ----------------------------------------- @media 768px - 1023px -----------------------------------------  */
@media (min-width: 768px) and (max-width: 1023px) {

    /* ------------------- 1. nav-item -------------------  */
    #nav-logo{
        font-size: larger;
    }
    /* ------------------- 2. nav-item -------------------  */
    .nav-link-list{
        display: none;
    }
    /* ------------------- 3. nav-item -------------------  */
    #nav-lang{
        display: none;
    }
    /* ------------------- 4. nav-item -------------------  */
    #nav-sidebar{
    display: flex;
    }
    #nav-menu-icon{
        width: 2.5rem;
    }
    #nav-close-icon{
        display: none;
    }
    
}