nav{
    opacity: 0.9;
    color: var(--navbar-color);
    background-color: var(--navbar-background-color);    
    position: fixed;
    width: 100%;
    min-height: 4rem;    
    display: flex;    
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: no-wrap;
    z-index: 1;
}

.nav-logo{
    
}
.nav-logo a{
    color: var(--navbar-color);
    text-decoration: none;
}

.nav-page-sections {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.nav-page-sections li{
    list-style: none;
}

.nav-section{
    color: var(--light-text-color);
    text-decoration: none;
}
.nav-section:hover .nav-hover-border{
    border-bottom: 0.1rem solid var(--navbar-color);
    border-radius: 1rem;
    animation: nav-section-animation 0.25s ease-in-out both;
}
.nav-section li{
    list-style: none;
}

.nav-hover-border{
    border-bottom: none;    
    transition: border-bottom 0.5s ease-in-out;    
}

@keyframes nav-section-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.nav-lang{   
    cursor: pointer;     
    width: 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.language-options{        
    display: none;
    list-style: none;    
}

.language-option{
    cursor: pointer;
    background-color: var(--navbar-color);
    margin : 0.2rem;
    padding: 0.2rem;
    font-weight: 900;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
}
.language-option:hover{
    color: var(--light-text-color);
    background-color: var(--blue-color);    
    transform: scale(1.1);
}

/* This class is used in the 'toggleLanguageMenu.js' file. */
.show-language-options {    
    display: flex;
}

.nav-dropdown{
    margin-right: 2rem;
    display: none;
}
.nav-dropdown img{               
    height: 2rem;    
    transition: 0.3s ease-in-out;
}
.nav-dropdown img:hover{
    transform: scale(1.2);
}
#menut-icon{
    display: block;
}
#close-icon{
    display: none;
}


@media (max-width: 767px) {
    nav{
        justify-content: space-between;
    }
    .nav-logo{
        margin-left: 2rem;
    }
    .nav-page-sections{
        display: none;
    }

    .nav-lang{
        display: none  ;
    }

    .nav-dropdown{
        display: flex;
    }
    
}

/* Tablet (orta büyüklükte ekranlar) için stil ayarları */
@media (min-width: 768px) and (max-width: 1023px) {
    nav{
        justify-content: space-between;
    }
    .nav-logo{
        margin-left: 2rem;
    }
    .nav-page-sections{
        display: none;
    }

    .nav-lang{
        display: none  ;
    }

    .nav-dropdown{
        display: flex;
    }
}