#projects {
    margin: 1rem;
    display: flex;    
    justify-content: space-between;
    gap: 1rem;
}
#projects-img {    
    color: var(--dark-text-color-color);
    background-image: url('../img/home-section.jpg'); /* Arka plan resminin yolunu belirtin */
    background-size: cover;
    background-position: left-center;
    box-shadow: 0 0 8px 4px var(--dark-text-color);    
    border-radius: 1rem;
    width: 50%;
    height: 100vh;
    font-size: xx-large;    
    overflow-y: hidden;
}