/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navbar-background-color: #000000;
    --navbar-color: #ffffff;    
    --dark-text-color: #272727;    
    --light-text-color: #ffffff;
    --blue-color: #0047AB;
}

html{
    scroll-behavior: smooth;    
}

body{    
    font-family: 'Helvetica', sans-serif;
}

header{
    background-color: var(--navbar-background-color);
}

main{
    
}

section {    
    min-height: 100vh; /* Tam sayfa yüksekliği */
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: transform 0.5s ease-in-out; /* Animasyonlu geçiş */
}

.hidden-content {
    display: none;
}