main{
    background-color: grey;    
}

section {        
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: transform 0.5s ease-in-out;
}

/* ------------------- Go to top of page -------------------  */
.slide-up img{    
    background-color: var(--blue-color);
    opacity: 0.6;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--navbar-background-color);
    border-radius: 50%;
    width: 2rem;
    position: fixed;  
    bottom:3rem;
    right:3rem;    
    transition: 0.5s ease-in-out;
}
.slide-up img:hover{
    opacity: 1;
    transform: scale(1.2);
}


/* ----------------------------------------- @media 767px -----------------------------------------  */
@media (max-width: 767px) {
  
}

/* ----------------------------------------- @media 768px - 1023px -----------------------------------------  */
@media (min-width: 768px) and (max-width: 1023px) {

}